!!!5
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="ID=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
        link(rel="stylesheet", href="/css/main.css")
        script(src="/js/vendor/modernizr.custom.79639.js")

    body
        block body
            h1 Flehg

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="/js/vendor/bootstrap.min.js")
        script(src="/js/plugins.js")
        script(src="/js/main.js")
