!!!5
html
  head
    meta(charset="utf-8") meta(http-equiv="X-UA-Compatible", content="ID=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description",
      content="Mediterranean dining, hookah, and music in Clarksville right here on Franklin Street!")
    //link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/vendor/modernizr.custom.79639.js")

  body
    .wrapper
      nav.navbar.navbar-default.navbar-static-top(role="navigation")
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse",
            data-target="#tarboosh-navbar-collapse")
            span.sr-only Toggle Nav
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand 
            h3 We Deliver!
        .collapse.navbar-collapse#tarboosh-navbar-collapse
          ul.nav.nav-justified
            li
              a(href="/") Home
            li
              a(href="/menus") Menus
            li
              a(href="/contact") Contact
      block body

      .push
    .footer

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src!="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe-KTWim5dDlKJ4I0PGNSfy_kAOereGJM&sensor=false")
    script(src="/js/vendor/bootstrap.min.js")
    script(src="/js/plugins.js")
    script(src="/js/main.js")
