extends base
block body
  .container
    .container.contact-info
      .row
        .col-md-6.push-md-6
          h1.aligned-center Call Us, We Deliver!
          address.aligned-center
            | (931) 896-2112
            br
            | 117 Franklin St.
            br
            | Clarksville, TN 37040
            br
            a(target="_blank", href="https://www.facebook.com/pages/Tarboosh-Clarksville/215809538472635")
              img.fb-icon.img-responsive.centered(src="/img/fb-icon.png")

        .col-md-6.pull-md-6
          #map-canvas.map
        // /.sl-slide-bg-3
