extends base
block body
    h1 Index
    .wrapper
        #slider.sl-slider-wrapper
            .sl-slider
                .sl-slide.bg-1
                    .sl-slide-inner
                        .deco(data-icon="H")
