extends base
block body
    a(href="/")
        img(class="img-resp centered", src="/img/tarboosh-logo.png")
    .wrapper
        #slider.sl-slider-wrapper
            .sl-slider

                .sl-slide.bg-1(data-orientation="horizontal")
                    .sl-slide-inner
                        .panel.abs-centered
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                            p WOO
                // /.sl-slide.bg-1

                .sl-slide.bg-2(data-orientation="horizontal")
                    .sl-slide-inner
                        .panel.abs-centered
                // /.sl-slide.bg-2

                .sl-slide.bg-3(data-orientation="horizontal")
                    .sl-slide-inner
                        .panel.abs-centered
                // /.sl-slide-bg-3

            // /.sl-slider

            nav#nav-arrows.nav-arrows
                span.nav-arrow-prev Previous
                span.nav-arrow-next Next
            // /.nav-arrows

            nav#nav-dots.nav-dots
                button.nav-dot-current.btn Food
                button.btn Hookah
                button.btn Contact
            // /.nav-dots

        // /.sl-slider-wrapper

