extends base
block body
    .jumbotron
      .container
        .jumbotron-header
          h1 Welcome to Tarboosh
        .jumbotron-body
          .page-header
            h2 Mediterranean Food and Hookah on Franklin!
            p We deliver, so give us a call at (931) 000 0000
