@import 'mixins.less';
@import 'splitslider.less';
@slider-width: 100%;
@slider-height: 100%;

@rich-red: #84151A;
@rich-lighter-red: #A0181C;
@shadow-red: #660E0F;
@dark-rich-red: #420A0D;
@white: #fff;

@body-copy: @white;

@red-damn-box-bg-start: @rich-red;
@red-damn-box-bg-stop: @rich-lighter-red;
@red-damn-box-shadow: @shadow-red;

@close-button: @rich-red;
@close-button-border: @dark-rich-red;
@close-button-shadow: @rich-lighter-red;

body,
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

body > a {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto;
    z-index: 20000;
}

body > a img {
    position: relative;
    width: 200px;
    z-index: 20001;
}

.modal {
    z-index: 200003;
    .container {
        width: 100%;
    }
}

.modal-header {
    .close {
        color: #fff;
        background: @close-button;
        border-radius: 4px;
        border: 1px solid @close-button-border;
        box-shadow: inset 0 0 0 1px @close-button-shadow;
        #gradient > .vertical(@close-button; @close-button-shadow);
    }
}

@media screen and (min-width: 992px) {
    body > a img {
        width: 400px;
    }
}

.img-resp {
    max-width: 100%;
    display: block;
}

.centered {
    margin: 0 auto;
}

.aligned-center {
    text-align: center;
}

.aligned-right {
    text-align: right;
}

.abs-centered {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.food-grid {
    padding-top: 3%;
}

[class*="food-button col-"] {
    padding: 0.8em;
}

.red-damn-box {
    height: 70%;
    border-radius: 4px;
    #gradient > .vertical(@red-damn-box-bg-start; @red-damn-box-bg-stop;);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0 -4px 3px -1px @red-damn-box-shadow,
                inset 0 4px 3px -1px @red-damn-box-shadow;
}

.hookah-flavors {
    color: #fff;
    p {
        margin: 2px;
        font-size: 20px;
    }
}

@media screen and (min-width: 992px){
    .hookah-flavors {
        padding-top: 20px;
    }
}

.contact-info {
    h3 {
        color: @body-copy;
        font-size: 28px;
    }
    address {
        p {
            font-size: 24px;
            color: @body-copy;
        }
    }

}

.map {
    border: 3px solid black;
    border-radius: 3px;
}

@media screen and (min-width: 992px){
    .contact-info {
        padding-top: 3%;
        padding-bottom: 6%;
    }
}

.btn {
    width: auto;
    font-size: 22px;
    color: #eee;
    border: 1px solid #D61100;
    border-radius: 2px;
    .button-variant(#eee; #DF4231; #D61100;)
}

@media screen and (min-width: 992px) {
    .btn {
        font-size: 30px;
    }
}
