/* set slider width/height in main.less */

.sl-slider-wrapper {
    width: @slider-width;
    height: @slider-height;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sl-slide {
    z-index: 1;
}

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    box-sizing: content-box;
    background: transparent;
}

.sl-slide-horizontal {
    .sl-content-slice {
        width: 200%;
        height: 50%;
        left: -200px;
    }
    .sl-content-slice:first-child {
        top: -200px;
        padding: 200px 200px 0 200px;
    }
    .sl-content-slice:nth-child(2) {
        top: 50%;
        padding: 0 200px 200px 200px;
    }
}

.sl-slide-vertical {
    .sl-content-slice {
        width: 50%;
        height: 100%;
        top: -200px;
    }
    .sl-content-slice:first-child {
         left: -200px;
         padding: 200px 0 200px 200px;
    }
    .sl-content-slice:nth-child(2) {
        left: 50%;
        padding: 200px 200px 200px 0;
    }
}

/* Content wrapper */
/* Width and height set in js */

.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
    background: transparent;
}

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: 6%;
    height: 30px;
    width: 100%;
    left: 0;
    z-index: 10000;
}

.bg-1 {
    .sl-slide-inner,
    .sl-content-slice {
    }
}

.bg-2 {
    .sl-slide-inner,
    .sl-content-slice {
    }
}

.bg-3 {
    .sl-slide-inner,
    .sl-content-slice {
    }
}
